#products-container {
    background-color: lightblue;
    color: black;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  #posts-container {
    background-color: lightgreen;
    color:black;
    padding: 10px;
  }